.last_booking_details_container {
  width: 23%;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px;
  padding: 10px 10px 10px 20px;
  margin: 20px 0px 20px 20px;
}

.last_booking_details_container_main {
  display: flex;
  flex-direction: column;
}

.last_booking_details_header {
  font-size: 10px;
}

.seats_container {
  margin-bottom: 5px;
}

.seats-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1px;
}

.seats-list {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(255, 255, 255); */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: rgb(0, 0, 0);
  width: auto;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-evenly;
  margin: 1px;
}

.seats_container .seats {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.slot span,
.movie span {
  font-weight: 600;
  font-size: 16px;
}

.last_booking_details_container .no_previous_booking_msg {
  font-size: 15px;
}
