.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 80%;
  position: relative;
  overflow: hidden;
  outline: none;
}

.modal-header {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.modal-body {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
width: 25vw;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.modal.active {
  display: flex;
}

.modal.inactive {
  display: none;
}


/* For screens smaller than 600px */
@media (max-width: 600px) {
  .modal {
    width: 60%;
    padding: 10px;
  }

  .modal-header {
    font-size: 12px;
  }

  .modal-body {
    font-size: 15px;
    justify-content: center;
    width: auto;
  }

  .modal-footer button {
    font-size: 12px;
    padding: 8px 10px;
  }
}

/* For screens between 600px and 960px */
@media (min-width: 600px) and (max-width: 960px) {
  .modal {
    width: 50%;
    padding: 10px;
  }

  .modal-header {
    font-size: 14px;
  }

  .modal-body {
    font-size: 17px;
    justify-content: center;
    width: auto;
  }

  .modal-footer button {
    font-size: 14px;
    padding: 8px 10px;
  }
}

/* For screens larger than 960px */
@media (min-width: 960px) {
  .modal {
    max-width: 50%;
    padding: 20px;
  }

  .modal-header {
    font-size: 15px;
  }

  .modal-body {
    font-size: 18px;
  }

  .modal-footer button {
    font-size: 14px;
    padding: 10px 18px;
  }
}
