.form-check-label.active {
  background-color: rgba(77, 184, 246, 0.843);
  color: white;
  font-weight: 500;
  user-select: none;
  letter-spacing: 0.5px;
  border-radius: 1px;
  cursor: pointer;
  height: 2.5vh;
}

.form-check-label.inactive {
  user-select: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 5px;
  height: 2.5vh;
  justify-content: center;

}

.inactive:hover {
  background-color: rgba(23, 221, 92, 0.558);
  opacity: 0.95;
}

.form-check-label {
  padding: 10px 15px;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
}

.text {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .form-check-label {
    margin: 5px;
  }

  .form-check-label.active {
    
    height: auto;
  }

  .form-check-label.inactive {
  
    height: auto;
  
  }
  

}
