.TS_heading {
  width: 100%;
  font-size: 22px;
}

.Slot_container{
  width: 63vw;
  border: 5px ;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px;
  padding: 20px 10px;
  margin: 15px 0px 10px 5px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.726);
}

.TS_main_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
}

@media screen and (max-width: 700px) {
  .TS_main_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .Slot_container{
    width: 90%;
    border: 5px ;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.726);
    padding: 15px;
    margin: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .TS_heading {
    width: 100%;
    font-size: 18px;
  }
}
