.container {
  width: 90%;
  margin:  50px auto;
  padding: 20px 20px 0px 20px;
  background-color: #eae7e7;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  color: #111111;
  box-shadow: 15px 15px 15px rgba(120, 120, 122, 0.699);
}

.container .selection_container {
  width: 100%;
}

.select_movie_component {
  flex-grow: 1;
  display: flex;
  
}



.BN-btn {
  padding: 10px;
  border: none;
  margin: 10px 10px 20px 10px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-image: linear-gradient(rgb(0, 34, 255), rgb(0, 255, 106));
  border-image: linear-gradient(rgb(0, 34, 255), rgb(0, 255, 106));
  padding-bottom: 10px;
}

.BN-btn:hover {
  background-image: linear-gradient(rgb(0, 255, 132), rgb(0, 64, 255));
  color: #f7f1f1;
}

.wrapper {
  display: flex;
  flex-grow: 0;
  overflow: visible;
}
.time_slot_container {
  position: relative;
  overflow: auto;
  top: -10px;
}
.SS_wrapper {
  margin-top: 10px;
}



@media screen and (max-width: 1300px) {

  .container {
    width: 85%;
    padding: 15px;
  }

  .wrapper {
    flex-direction: column-reverse;
  }

  .select_movie_component {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
  }

  .time_slot_container {
    top: 0px;
    width: auto;
    margin-bottom: 20px;
  }
  
  .last_booking_details_container {
    width: 33%;
  border: 5px ;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px;
  padding: 10px 10px 30px 20px;
  margin: 20px 0px 20px 20px;

  }
  

  .BN-btn{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 85%;
    padding: 15px;
  }

  .select_movie_component {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
  border: 5px ;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;

  }

  .last_booking_details_container {
    width: 90%;
  border: 5px ;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px;
  padding: 10px 10px 10px 15px;
  margin: 20px 0px 10px 0px;

  }

  .BN-btn{
    font-size: 20px;
  }

  
}
